<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Management System</title>
    <!-- Page styles -->
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/assets/bootstrap/dist/css/bootstrap.css">
    <!-- Icons -->
    <link rel="stylesheet" href="/assets/bootstrap-icons/font/bootstrap-icons.css">
</head>
<body>
    
    
    
    <div class="container mt-2 mb-3">        
        <a href="javascript:void(0)" class="container" onclick="openAddForm()">
            <button class="btn btn-secondary my-4 fs-13">New User</button>
        </a>

        <table class="table">
            <thead class="table-dark">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th class="d-flex justify-content-end px-5">Modify</th>
                </tr>
            </thead>
            
            <tbody>
                <% userList.forEach(user => { %>
				<tr>
                    <td class="fs-14 pt-3"># <%= user.id %></td>
					<td class="fs-14 pt-3"><%= user.name %></td>
					<td class="fs-14 pt-3"><%= user.email %></td>
                    <td class="d-flex justify-content-end">
                        <button class="btn border bi bi-pen mx-1 fs-13"></button>
                        <button class="btn border bi bi-trash align-items-center fs-14"></button>
                    </td>
				</tr>
                <% }); %>
            </tbody>
        </table>
    </div>

    <!-- Add user form -->
    <div class="container mt-3 border p-3 getAddUserForm" id="getAddUserForm">
        <div class="d-flex justify-content-between align-items-center">
            <h4>Add user to database</h4>
            <span class="bi bi-x fs-3"></sn>
        </div>

        <form action="/add-user" method="post">
            <label for="name" class="fs-14">Name:</label>
            <input type="text" name="name" class="w-75 form-control mb-1">

            <label for="email" class="fs-14">Email:</label>
            <input type="email" name="email" class="w-75 form-control mt-1">
    
            <button type="submit" class="fs-14 btn btn-primary my-2">Submit</button>
        </form>
    </div>

    <script src="/js/addUser.js"></script>
</body>
</html>